body {
  margin: 0;
  max-height: 100vh;
  --type-text : 'M PLUS Rounded 1c', sans-serif;
  font-family: var(--type-text);
  background: #eee;
}
* {
  box-sizing: border-box;
}
.body {
  max-height: 100vh;
}
h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}
ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}
